body {
    font-family: monospace;
    font-size: 1.2rem;
    line-height: 1.3em;
    color: white;
    margin: 0;
    background-color: #303;
}

p {
    margin-bottom: 1.6rem;
}

h1 {
    font-size: 2rem;
    line-height: 1.3em;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.header {
    background: white;
    color: #333;
    padding: 2rem 0;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a {
    color: #333;
    text-decoration: none;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    letter-spacing: 5px;
    font-size: 1.9rem;
    text-shadow: 2px 2px 10px red;
}

.menu-icon {
    display: none;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background: #333;
    color: white;
}

.main {
    padding-top: 8em;
}

.footer {
    background: white;
    color: #333;
    padding: 0rem 0;

    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;

}

.footer-container {
    letter-spacing: 5px;
    text-shadow: 2px 2px 10px red;
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 991px) {

    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 1rem 1rem;
    }

    .navigation {
        width: 100%;
        margin: 1rem;
    }

    .navigation ul {
        display: none;
    }

    .navigation ul.show {
        display: block;
    }

    .navigation ul li {
        display: block;
    }

    .navigation ul li a {
        display: block;
        padding: 0.5rem 0m;
        transition: 0.4s linear;
        border-radius: 5px;
    }

    .navigation ul li a:hover {
        background: #333;
        color: white;
    }
}
